<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB7bR58EgdWUCTxWyEov-8UgPM3ndlz3TI</string>
	<key>GCM_SENDER_ID</key>
	<string>232463404838</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eventTicketingMobileApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>nester-d3198</string>
	<key>STORAGE_BUCKET</key>
	<string>nester-d3198.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:232463404838:ios:a67c650f27d52b9ef0bbe7</string>
</dict>
</plist>